nav.foot
    a.index(href="index.html") Home
    a.coldbrew(href="coldbrew.html") Cold Brew
    a.cappuccino(href="cappuccino.html") Cappuccino    
    a.mocha(href="mocha.html") Caffé Mocha
    a.frappe(href="frappe.html") Caramel Frappé
.copyright
    a(href="http://halfapx.com") &copy; Myriam Frisano &middot; 2017
